._input,
._search-input {
    display: flex;
    align-items: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}

._input {
    outline: none;
}

._search-input {
    margin: auto;
    padding: 0px 8px;
}

._search-input svg {
    padding: 3px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.25s ease;
}

._search-input svg:hover {
    background-color: #30303030;
}

._search {
    padding: 8px 2px;
    font-size: 12px;
}
