.dashboard {
    display: flex;
    flex-direction: column;

    p {
        font-size: 12px;
    }

    h1 {
        font-size: 18px;
    }

    .logo {
        cursor: pointer;
        color: #ffffff;
    }

    .content {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: auto;
        margin: 56px 0 0 0;
    }

    .tooltip {
        font-family: 'Circular';
        font-size: 12px;
    }
}
