@font-face {
    font-family: 'Circular';
    font-style: normal;
    font-weight: normal;
    src: local('Circular Std Bold'),
        url('./assets/fonts/circular-bold.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto'),
        url('./assets/fonts/roboto-regular.ttf') format('truetype');
}

* {
    user-select: none;
}

body {
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: #505050;
}

h1,
h2,
h3,
p,
a,
i,
textarea {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto';
}

h1 {
    font-family: 'Circular';
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset;
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.dark {
    background-color: #30303030;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

.dark.active {
    opacity: 1;
}
