.auth {
    /* background: url(https://images.pexels.com/photos/3293148/pexels-photo-3293148.jpeg?auto=compress&cs=tinysrgb&dpr=1&h=750&w=1260)
        no-repeat center center;
    background-size: cover; */
    background-color: #e8e8e8;
    display: flex;
}

.auth .btn {
    margin: 6px auto !important;
}

.auth .btn,
.auth .card,
.auth .credentials input,
.auth .credentials .auth-input,
.auth .submit {
    width: 100%;
}

.auth .card {
    display: flex;
    flex-direction: column;
    margin: auto;
    box-sizing: border-box;
    padding: 12px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 1px 0.5px #30303030;
    min-width: 300px;
    max-width: 500px;
    height: auto;
}

.auth .header {
    display: flex;
    flex-direction: column;
    margin: 12px auto 24px;
}

.auth .header .logo,
.auth .header p {
    text-align: center;
    margin: 12px auto 0;
}

.auth .presentation {
    font-size: 14px;
}

.auth form {
    display: flex;
    flex-direction: column;
    padding: 12px 48px;
}

.auth .credentials {
    display: flex;
    flex-direction: column;
}

.auth .credentials .auth-input {
    border: 1px solid #303030;
    box-sizing: border-box;
    margin-top: 6px;
}

.auth .credentials .auth-input svg {
    margin-right: 6px;
}

.auth .options {
    margin: 12px 0;
    display: flex;
    justify-content: space-between;
}

.auth p {
    font-size: 12px;
}

.auth .remember {
    cursor: pointer;
    margin: 0 0 0 6px;
}

.checkbox-wrapper {
    display: flex;
}

.auth .submit {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 180px;
    margin: 12px auto;
}

.auth .submit .signup {
    margin: 6px auto;
}

.auth .authentication {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
}

.auth .submit-button {
    align-items: center;
    justify-content: center;
}

.auth .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.auth .credentials .auth-input.invalid,
.auth .credentials .auth-input.error {
    border-color: red;
}

.auth .credentials .auth-input.invalid input,
.auth .credentials .auth-input.invalid input::placeholder,
.auth .credentials .auth-input.error input,
.auth .credentials .auth-input.error input::placeholder {
    color: red;
}

.auth .credentials .auth-input.success {
    border-color: green;
}

.auth .credentials .auth-input.success input,
.auth .credentials .auth-input.success input::placeholder {
    color: green;
}
